.lisket-form-maker-form {
    margin: 0 auto;
}

.lisket-form-maker-form label {
    font-weight: bold;
    color: #999;
}

.lisket-form-maker-form td {
    border: none;
}

.lisket-form-maker-form th {
    text-align: left !important;
}

.lisket-form-maker-form table tr:last-child input {
    width: 100px;
    margin: 5px;
    font-size: 12pt;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

.radio1 {
    position: absolute;
}

.radio {
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    margin: 0 20px 8px -3px;
    padding: 12px 12px 12px 42px;
    background-color: #f6f7f8;
    vertical-align: middle;
    cursor: pointer;
}

.radio:hover {
    background-color: #e2edd7;
}
.radio:hover:after {
    border-color: #53b300;
}
.radio:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #bbb;
    border-radius: 6px;
    content: '';
}

.radio:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 45%;
    left: 18px;
    display: block;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 30%;
    background-color: #53b300;
    content: '';
    opacity: 0;
}
input[type=radio]:checked + .radio:before {
    opacity: 1;
}
body,
input {
    line-height: 1.5em;
    color: #999;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
    transition: background-color 0.2s ease-in-out;
    background-color: #ffbf00;
    border: 0;
    border-radius: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
}

/* テーブルの横幅をピクセルで指定 */
.lisket-form-maker-form td,
.lisket-form-maker-form th {
    border-top: 1px solid #aaa;
}

/* 見出しセルの背景色を指定 */
.lisket-form-maker-form span.example {
    color: #36c;
}

.lisket-form-maker-form table .td-last-child {
    background-color: #fff;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.lisket-form-maker-form #data_field_4 {
    display: flex;
}

.main_title {
    padding: 60px 0 50px;
    text-align: center;
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
}

.entry_caption {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2em;
    text-align: center;
    line-height: 2.5em;
}

.entry_tel {
    margin: 40px 0 50px;
    text-align: center;
    font-size: 0.9em;
}

.entry_tel_head {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}


.entry_tel_head span {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5;
}

.gaiyou {
    margin-bottom: 2em; 
}

.entry_ph {
    background-image: url('./images/entry.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 70%;
    height: 25vh;
}

@media screen and (max-width: 736px) {
    .lisket-form-maker-form {
        width: 100% !important;
    }
    .lisket-form-maker-form tr th {
        width: 100% !important;
    }
    .lisket-form-maker-form input[type='text'],
    .lisket-form-maker-form input[type='email'] {
        width: 100% !important;
    }

    .lisket-form-maker-form td,
    .lisket-form-maker-form th {
        display: block;
        border: none !important;
    }
    
    .lisket-form-maker-form th {
        background-color: none;
    }
    
    .lisket-form-maker-form th:last-child {
        border: none;
    }
    
    .main_title {
        padding: 40px 0 30px 0;
        text-align: center;
        font-size: 2em;
    }
    
    .entry_caption, .entry_ph {
        width: 100%;
    }
    
    .entry_ph {
        height: 15vh;
    }
    
    .sp_border_none {
        border-bottom: none;
    }
}

input[type="reset"] {
    background-color: #999;
}

input[type="reset"]:hover {
    background-color: #cecece;
}
